body {
    height: 100vh;
    background-image: url(../imagens/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
}

header {
    width: 100%;
    position: fixed;
    z-index: 1;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*flexbox "seja bem vindo(a)"*/
.one {
    text-align: center;
    width: 100%;
    height: 25px;
    color: rgb(0, 0, 0);
    background-color: rgb(243, 110, 1);
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    padding: 2px;
}

/*segundo flexbox, lado direito*/
.child {
    color: rgb(0, 0, 0);
    width: 25%;
    height: 48px;
    background-color: rgb(245, 167, 66);
    border: 0px;
    justify-content: flex-end;
    text-align: center;
    font-size: 14px;
    text-shadow: rgb(81, 80, 80) 0.1em 0.1em 0.2em;
    padding-top: 14.5px;
}

/*segundo flexbox, lado esquerdo*/
.start {
    background-color: rgb(0, 0, 0);
    width: 120%;
    height: 48px;
    text-shadow: 0 0 0.2em rgb(254, 133, 3), 0 0 0.2em rgb(158, 158, 158);
    padding-left: 15px;
    padding-top: 5px;
}

/*estilização dos três flexbox*/
.container {
    display: flex;
    flex-direction: row;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    align-items: center;
    font-size: 30px;
}

/*tirar formatação de link*/
header a {
    color: black;
    text-decoration: none;
    font-size: 100%;
}

a:hover {
    color: rgb(222, 210, 210);
}

.color {
    color: black;
    text-decoration: underline 3px black;
}

/*estilização dos textos*/
.s1 {
    color: black;
    padding-top: 85px;
    text-align: center;
    text-decoration: underline 10px solid chocolate;
    text-underline-offset: 10px;
    text-shadow: 0.1px 0.1px 0.6px rgb(199, 105, 4), 0 0 1em rgb(96, 94, 94), 0 0 0.2em rgb(255, 115, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.s2 {
    color: rgb(0, 0, 0);
    font-size: 25px;
    padding-top: 80px;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(199, 105, 4), 0 0 1em rgb(185, 182, 182), 0 0 0.2em rgb(161, 74, 4);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

section img {
    border-radius: 20%;
    width: 30%;
}

.s3 {
    font-size: 25px;
    padding-top: 100px;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(199, 105, 4), 0 0 1em rgb(185, 182, 182), 0 0 0.2em rgb(161, 74, 4);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*estilização do footer*/
footer {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    padding: 10px 0px 20px 0px;
    text-shadow: 1px 1px 2px rgb(199, 105, 4), 0 0 1em rgb(138, 137, 137), 0 0 0.2em rgb(161, 74, 4);
}

footer img {
    padding: 0px 10px 0px 16px;
    width: 100px;
}

footer a {
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
}

footer a:hover {
    color: rgb(243, 110, 1);
}